/* Changing the default box-sizing behaviour to now be of border-box */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* By using a container for the image,
 we enable flexbox and align it to the absolute center of the page */
.netflix-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Image property */
.netflix-logo {
  width: 12vw;
}

/* Hamburger menu button related properties */
.netflix-nav-btn {
  border: 0;
  background-color: transparent;
  font-size: 25px;
}

/* Properties related to the nav button (to open it) */
.netflix-open-btn {
  position: fixed;
  top: 15px;
  left: 15px;
}

/* Properties related to the nav button (to close it) */
.netflix-close-btn {
  opacity: 0.4;
  position: absolute;
  top: 15px;
  right: 15px;
}

/* Hamburger menu transition properties */
.netflix-nav {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.4s;
}

/* By default, the navigation menu is hidden and so we add this class in order to un-hide the navigation menu */
.visible {
  transform: translateX(0);
}

.netflix-nav-black {
  background-color: rgb(34, 31, 31);
  max-width: 25vw;
  min-width: 20vw;
  width: 60%;
  transition-delay: 0.4s;
}

/* Black bar must be the first bar visible when opening the Navigation Menu */
.netflix-nav-black.visible {
  transition-delay: 0s;
}

.netflix-nav-red {
  background-color: rgb(229, 9, 20);
  width: 95%;
  transition-delay: 0.2s;
}

.netflix-nav-white {
  background-color: #fff;
  padding: 40px;
  width: 95%;
}

/* White bar must be the last to enter when opening the Navigation Menu */
.netflix-nav-white.visible {
  transition-delay: 0.4s;
}

/* Styling the menu item list in the Navigation Menu */
.netflix-list {
  list-style-type: none;
  padding: 10px 0;
}

.netflix-list li {
  margin: 20px 0;
}

.netflix-list li a {
  color: rgb(34, 31, 31);
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.netflix-list ul {
  list-style-type: none;
  padding-left: 20px;
}
